* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #e4e4e4;
    --secondary: #2196f3;
    --shadow: 15px 15px 20px rgba(0, 0, 0, .2), -15px -15px 20px #fff, inset -5px -5px 5px rgba(255, 255, 255, .5), inset 5px 5px 5px rgba(0, 0, 0, 0.05);
    --common-width: 40px;
    --common-height: 200px;
    --circular: 38px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    min-height: 100vh;
}

.loader {
    display: flex;
}

.loader div {
    position: relative;
    width: var(--common-width);
    height: var(--common-height);
    border-radius: 40px;
    margin: 20px;
    border: 1px solid var(--primary);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05, var(--primary)));
    box-shadow: var(--shadow);
    overflow: hidden;
}

.loader div:before {
    content: '';
    top: 0;
    position: absolute;
    left: 0;
    width: 102%;
    height: 100%;
    border-radius: 40px;
    box-shadow: var(--shadow);
    z-index: 10;
}

.loader div:after {
    content: '';
    top: 0;
    position: absolute;
    left: 0;
    width: var(--circular);
    height: var(--circular);
    border-radius: 50%;
    box-shadow: 0 420px 0 400px rgb(0, 89, 255), inset -5px -5px 5px rgba(0, 0, 0, 0.2);
    animation: animate 2.5s ease-in-out infinite;
    animation-delay: calc(-.5s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(160px);
        filter: hue-rotate(180deg);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(160px);
        filter: hue-rotate(0deg);
    }
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:700px) {
     :root {
        --common-width: 23px;
        --common-height: 150px;
        --circular: 21px;
    }
    .loader div {
        margin: 10px;
    }
    .loader div:after {
        box-shadow: 0 420px 0 410px rgb(0, 89, 255), inset -5px -5px 5px rgba(0, 0, 0, 0.2);
    }
    .loader div:before {
        width: var(--common-width);
        height: 150px;
    }
    @keyframes animate {
        0% {
            transform: translateY(127px);
            filter: hue-rotate(180deg);
        }
        50% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(127px);
            filter: hue-rotate(0deg);
        }
    }
}